name: recsys
channels:
  - defaults
dependencies:
  - python=3.10
  - matplotlib
  - plotly
  - faiss-cpu
  - statsmodels
  - streamlit
  - numpy
  - lightfm
  - pandas
  - scipy
  - scikit-learn
  - seaborn
  - nmslib
  - ipykernel
prefix: C:\Users\Lenovo\miniconda3\envs\recsys
